<template>
  <div>
    <div>
      <h6>Map Location</h6>
      <gmap-autocomplete
        style="position:absolute;
        z-index: 10;
        margin-top: 10px;
        margin-left: 10px;
        width: 200px;"
        @place_changed="setPlace"
      ></gmap-autocomplete>
      <gmap-map
        :options="{
        zoomControl: true,
        mapTypeControl: false,
        scaleControl: false,
        streetViewControl: false,
        rotateControl: false,
        fullscreenControl: true,
        disableDefaultUi: true
        }"
        :center="center"
        :zoom="11"
        map-type-id="terrain"
        style="width:500px;  height: 300px;"
      >
        <gmap-marker
          v-model="sMarker"
          :position="sMarker"
          :clickable="true"
          :draggable="true"
          @click="center=sMarker"
        ></gmap-marker>
      </gmap-map>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    marker: {
      type: Object
    },
    isEdit: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      center: { lat: -6.2087634, lng: 106.84559899999999 },
      sMarker: null
    };
  },

  mounted() {
    this.geolocate();
  },

  methods: {
    setPlace(place) {
      this.sMarker = {
        name: place.name,
        place_id: place.place_id,
        lat: place.geometry.location.lat(),
        lng: place.geometry.location.lng()
      };
      this.center = this.sMarker;
    },
    geolocate: function() {
      navigator.geolocation.getCurrentPosition(position => {
        this.center = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
      });
    }
  },
  watch: {
    sMarker() {
      this.$emit(
        "setPlaceId",
        this.sMarker.name,
        this.sMarker.place_id,
        this.sMarker.lat,
        this.sMarker.lng
      );
    }
  },
  created() {
    if (this.isEdit) {
      this.sMarker = {
        name: this.marker.name,
        place_id: this.marker.place_id,
        lat: this.marker.lat,
        lng: this.marker.lng
      };
      this.center = this.sMarker;
    }
  }
};
</script>

<style scoped>
</style>
