<template>
  <div class="header-nav">
    <div class="nav-brand">
      <a href="#">
        <img src="media/image/logo-trava.png" alt="Trava" height="40" />
      </a>
    </div>
    <div class="nav">
      <div class="nav-item dropdown mx-2">
        <a
          href="#"
          class="nav-link dropdown-toggle"
          id="userDropdown"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >Login as: {{user.name}}</a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
          <a
            class="dropdown-item"
            href="/logout"
            onclick="event.preventDefault();
                                        document.getElementById('logout-form').submit();"
          >Logout</a>

          <form id="logout-form" action="/logout" method="POST" style="display: none;">
            <input type="hidden" name="_token" :value="csrf" />
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["user"],
  data() {
    return {
      csrf: document
        .querySelector('meta[name="csrf-token"]')
        .getAttribute("content")
    };
  }
};
</script>

<style scoped>
</style>
