<template>
  <div class="side-nav">
    <div class="nav flex-column nav-pills">
      <div class="nav-item">
        <router-link to="/admin/users" href="/admin/users" class="nav-link">User</router-link>
      </div>
      <div class="nav-item">
        <router-link to="/admin/cities" href="/admin/cities" class="nav-link">City</router-link>
      </div>
      <div class="nav-item">
        <router-link
          to="/admin/destinations"
          href="/admin/destinations"
          class="nav-link"
        >Destination</router-link>
      </div>
      <div class="nav-item">
        <router-link to="/admin/categories" href="/admin/categories" class="nav-link">Category</router-link>
      </div>
      <div class="nav-item">
        <router-link
          to="/admin/recommendations"
          href="/admin/recommendations"
          class="nav-link"
        >Recommendation</router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
</style>
