// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.float-container{
  background: #ffffff;
  -webkit-box-shadow: 7px 5px 25px 0px rgba(150,150,150,1);
  -moz-box-shadow: 7px 5px 25px 0px rgba(150,150,150,1);
  box-shadow: 7px 5px 25px 0px rgba(150,150,150,1);
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
}

.thumbnail-text-center{
  cursor: pointer;
  .thumbnail-img{
    object-fit: cover;
    width: 100%;
    height: 350px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.08);
  }
  .thumbnail-text{
    position: absolute;
    //width: 200px;
    text-align: center;
    font-size: 25px;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .thumbnail-header{
    position: absolute;
    //width: 200px;
    text-align: center;
    color: #fff;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.inset-container{
    background: #fcfcfc;
    -webkit-box-shadow: inset 5px 4px 25px 0px rgba(232,232,232,1);
    -moz-box-shadow: inset 5px 4px 25px 0px rgba(232,232,232,1);
    box-shadow: inset 5px 4px 25px 0px rgba(232,232,232,1);
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
  }
