<template>
  <div>
    <div>
      <h6>Starting Point Location</h6>
      <gmap-autocomplete
        style="position:absolute;
        z-index: 10;
        margin-top: 10px;
        margin-left: 10px;
        width: 200px;"
        @place_changed="setPlace"
      ></gmap-autocomplete>
      <gmap-map
        ref="map"
        :options="{
        zoomControl: true,
        mapTypeControl: false,
        scaleControl: false,
        streetViewControl: false,
        rotateControl: false,
        fullscreenControl: true,
        disableDefaultUi: true
        }"
        :center="center"
        :zoom="13"
        map-type-id="terrain"
        style="width:500px;  height: 300px;"
        @click="placeMarkerAndPanTo"
      >
        <gmap-marker :position="sMarker"></gmap-marker>
      </gmap-map>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    pLat: {
      type: Number
    },
    pLng: {
      type: Number
    }
  },
  data() {
    return {
      center: {
        lat: -6.2283511,
        lng: 106.8496765
      },
      sMarker: null
    };
  },

  mounted() {
    this.geolocate();
  },

  methods: {
    setPlace(place) {
      var latlng = {
        lat: place.geometry.location.lat(),
        lng: place.geometry.location.lng()
      };
      this.$refs.map.$mapPromise.then(map => {
        map.setZoom(20);
      });
      this.center = latlng;
    },
    placeMarkerAndPanTo(e) {
      this.sMarker = {
        lat: e.latLng.lat(),
        lng: e.latLng.lng()
      };
      this.$refs.map.$mapPromise.then(map => {
        map.panTo(e.latLng);
      });
    },
    geolocate: function() {
      navigator.geolocation.getCurrentPosition(position => {
        this.center = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
      });
    }
  },
  watch: {
    sMarker() {
      this.$emit("setPlaceId", this.sMarker.lat, this.sMarker.lng);
    }
  },
  created() {
    this.center = {
      lat: this.pLat,
      lng: this.pLng
    };
  }
};
</script>

<style scoped>
</style>
