<script>
export default {
  props: ["city"],
  data() {
    return {
      planForm: {
        name: "",
        origin: {
            lat: null,
            lng: null
        },
        city: null,
      }
    };
  },
  methods: {
    close() {
      this.$emit("close");
    },
    onSubmit() {
      this.planForm.city = this.city;
      //TODO: vuex plan create plan
      this.$store.commit("plan/createPlan", this.planForm);
      this.close();
    },
    setPlaceId(lat, lng) {
      this.planForm.origin.lat = lat;
      this.planForm.origin.lng = lng;
    }
  }
};
</script>
<template>
  <transition name="vmodal-fade">
    <div class="vmodal-backdrop">
      <div
        class="vmodal"
        role="dialog"
        aria-labelledby="modalTitle"
        aria-describedby="modalDescription"
      >
        <header class="vmodal-header" id="modalTitle">
          <slot name="header">
            <h3>Create new plan</h3>

            <button type="button" class="vbtn-close" @click="close" aria-label="Close modal">x</button>
          </slot>
        </header>
        <form action="#" @submit.prevent="onSubmit" id="plan-form">
          <section class="vmodal-body" id="modalDescription">
            <slot name="body">
              <div class="form-group">
                <label for="fcName">Plan Name</label>
                <input
                  type="text"
                  v-model="planForm.name"
                  placeholder="My Awesome Plan!"
                  id="fcName"
                  class="form-control"
                  required
                  autofocus
                />
              </div>
              <div class="form-group">
                <label for="fcCity">City</label>
                <input type="text" :value="city.name" id="fcCity" class="form-control" disabled />
              </div>
              <starting-point :pLat="city.lat" :pLng="city.lng" @setPlaceId="setPlaceId"></starting-point>
            </slot>
          </section>
          <footer class="vmodal-footer">
            <slot name="footer">
              <input type="submit" value="Submit" class="btn btn-primary btn-block" />
            </slot>
          </footer>
        </form>
      </div>
    </div>
  </transition>
</template>
<style>
.vmodal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.vmodal {
  background: #ffffff;
  box-shadow: 2px 2px 20px 1px;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  /*width: 60%;*/
}

.vmodal-header,
.vmodal-footer {
  padding: 15px;
  display: flex;
}

.vmodal-header {
  border-bottom: 1px solid #eeeeee;
  color: #4aae9b;
  justify-content: space-between;
}

.vmodal-footer {
  border-top: 1px solid #eeeeee;
  justify-content: flex-end;
}

.vmodal-body {
  position: relative;
  padding: 20px 10px;
}

.vbtn-close {
  border: none;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  color: #4aae9b;
  background: transparent;
}

.btn-green {
  color: white;
  background: #4aae9b;
  border: 1px solid #4aae9b;
  border-radius: 2px;
}
</style>
