<template>
  <div class="border-bottom shadow-sm">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
          <img src="/media/image/logo-trava.png" alt="Trava" height="40px" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <router-link to="/" class="nav-link" href="/">Home</router-link>
            </li>
            <li class="nav-item">
              <router-link to="/destination" class="nav-link" href="/destination">Destinations</router-link>
            </li>
            <li class="nav-item">
              <router-link to="/my-plan" class="nav-link" href="/my-plan">My Plan</router-link>
            </li>
            <li class="nav-item">
              <router-link to="/history" class="nav-link" href="/history">History</router-link>
            </li>
            <li v-if="!$store.state.account.isLogged" class="nav-item">
              <a href="/login" class="nav-link">Login</a>
            </li>
            <li v-else class="nav-item">
              <a
                class="nav-link"
                href="/logout"
                onclick="event.preventDefault();
                                        document.getElementById('logout-form').submit();"
              >Logout</a>

              <form id="logout-form" action="/logout" method="POST" style="display: none;">
                <input type="hidden" name="_token" :value="csrf" />
              </form>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</template>

<script>
import { mapMutations } from "vuex";
export default {
  props: ["user"],
  data() {
    return {
      csrf: document
        .querySelector('meta[name="csrf-token"]')
        .getAttribute("content")
    };
  },
  methods: {
    ...mapMutations({
      login: "account/login",
      logout: "account/logout"
    })
  },
  created() {
    if (this.user) {
      if (this.$store.state.account.user.id !== this.user.id) {
        this.login(this.user);
      }
    } else {
      if (this.$store.state.account.isLogged) this.logout();
    }
  }
};
</script>

<style scoped>
</style>
