<script>
    export default {
        props: ["reviews"],
        data() {
            return {
            };
        },
        methods: {
            close() {
                this.$emit("close");
            },
        }
    };
</script>
<template>
    <transition name="vmodal-fade">
        <div class="vmodal-backdrop">
            <div
                class="vmodal"
                role="dialog"
                aria-labelledby="modalTitle"
                aria-describedby="modalDescription"
            >
                <header class="vmodal-header" id="modalTitle">
                    <slot name="header">
                        <button type="button" class="vbtn-close" @click="close" aria-label="Close modal">x</button>
                    </slot>
                </header>
                <section class="vmodal-body" id="modalDescription">
                    <slot name="body">
                        <div v-for="item2 in reviews">
                            <p class="text-primary font-weight-bold">{{item2.user.name}}</p>
                            <p class="inset-container p-2">{{item2.content}}</p>
                            <div class="d-flex justify-content-between">
                                <p>{{item2.plan.name}}</p>
                                <p class="text-secondary">{{item2.created_at}}</p>
                            </div>
                        </div>
                    </slot>
                </section>
                <footer class="vmodal-footer">
                    <slot name="footer">
                        <button class="btn btn-danger" @click="close">Close</button>
                    </slot>
                </footer>
            </div>
        </div>
    </transition>
</template>
<style>
    .vmodal-backdrop {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .vmodal {
        background: #ffffff;
        box-shadow: 2px 2px 20px 1px;
        overflow-x: auto;
        display: flex;
        flex-direction: column;
        width: 60%;
        max-height: 90%;
    }

    .vmodal-header,
    .vmodal-footer {
        padding: 15px;
        display: flex;
    }

    .vmodal-header {
        border-bottom: 1px solid #eeeeee;
        color: #4aae9b;
        justify-content: space-between;
    }

    .vmodal-footer {
        border-top: 1px solid #eeeeee;
        justify-content: flex-end;
    }

    .vmodal-body {
        position: relative;
        padding: 20px 10px;
        overflow: scroll;
        overflow-x: hidden;
    }

    .vbtn-close {
        border: none;
        font-size: 20px;
        cursor: pointer;
        font-weight: bold;
        color: #4aae9b;
        background: transparent;
    }

    .btn-green {
        color: white;
        background: #4aae9b;
        border: 1px solid #4aae9b;
        border-radius: 2px;
    }
</style>
