<template>
  <div class="container">
    <section v-if="!city" id="select-city">
      <h2 class="text-center mt-4">Choose your destination</h2>
      <hr />
      <div class="row">
        <div v-for="item in cities" class="col-3 thumbnail-text-center">
          <a href="#" @click="onSelectCity(item)">
            <img :src="item.photo" alt class="thumbnail-img" />
            <h4 class="thumbnail-text">{{item.name}}</h4>
          </a>
        </div>
      </div>
    </section>

    <template v-else>
      <div class="thumbnail-text-center">
        <img :src="city.photo" alt class="thumbnail-img" />
        <h2 class="thumbnail-header">{{city.name}}</h2>
      </div>
      <div class="row">
        <div class="col-3">
          <button class="btn btn-primary" @click="changeCity">Change city</button>
        </div>
        <div v-if="$store.state.account.isLogged" class="col-9">
          <div v-if="$store.state.plan.city.name" class="row py-2 my-2 border shadow-sm">
            <div class="col-4">
              <h4>{{$store.state.plan.name}}</h4>
            </div>
            <div class="col-3">City: {{$store.state.plan.city.name}}</div>
            <div class="col-2">Destinations: {{$store.state.plan.destinations.length}}</div>
          </div>
          <div v-else>
            <button
              class="btn btn-outline-secondary btn-block"
              @click="showCreatePlanModal"
            >Create New Plan</button>
          </div>
        </div>
      </div>
      <div class="row mt-4" v-if="$store.state.plan.city.name">
        <div v-for="item in city.recommendations" class="col-3 thumbnail-text-center">
          <a href="#" @click="addRecomendation(item.destinations)">
            <img :src="item.photo" alt class="thumbnail-img" style="height: 200px" />
            <h4 class="thumbnail-text">{{item.name}}</h4>
          </a>
          <br />
          <br />
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-3">
          <div class="float-container mx-4">
            <h5 class="m-2">Filter by Category</h5>
            <div class="form-group">
              <input id="f-1" type="radio" value="-1" v-model="filterCat" />
              <label for="f-1">All</label>
            </div>
            <div class="form-group" v-for="item in categories">
              <input type="radio" :id="'f'+item.id" v-model="filterCat" :value="item.id" />
              <label :for="'f'+item.id">{{item.name}}</label>
            </div>
          </div>
        </div>
        <div class="col-9">
          <div v-for="(item,idx) in sorted" v-bind:key="item.id" class="row float-container py-2 my-4">
            <div class="col-3 d-flex flex-column justify-content-between">
                <img :src="item.photo" :alt="item.name" class="img-fluid" />
                <div v-if="item.reviews.length">
                    <button class="btn btn-outline-primary btn-block" @click="showReviews(item.reviews)">Users Review</button>
                </div>
            </div>
            <div class="col-9">
              <div class="row">
                <div class="col-12">
                  <h5>{{item.name}}</h5>
                </div>
                <div class="col-12">
                  <p>{{item.open}} - {{item.close}}</p>
                </div>
                <div class="col-12">
                  <p>{{item.description}}</p>
                </div>
                <div class="row col-12">
                  <div
                    class="badge badge-success mx-1 p-2"
                    v-for="category in item.categories"
                    v-bind:key="category.id"
                  >{{category.name}}</div>
                </div>

                <div v-if="$store.state.plan.city.name" class="col-12 text-right">
                  <button
                    v-if="!item.selected"
                    class="btn btn-primary"
                    style="height: 60px"
                    @click="addDestination(item,idx)"
                  >Add to plan</button>
                  <button
                    v-else
                    class="btn btn-outline-danger"
                    style="height: 60px"
                    @click="removeDestination(item,idx)"
                  >Remove from plan</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </template>
    <button
      class="btn btn-secondary"
      v-if="$store.state.plan.destinations.length"
      @click="$router.push('/my-plan')"
      style="
                    position: fixed;
                    bottom: 50px;
                    right: 50px;
                    width: 200px;
                    height: 70px;
                "
    >Go To My Plan</button>
    <create-plan-modal v-if="isCreatePlan" :city="city" @close="closeCreatePlanModal"></create-plan-modal>
    <reviews-modal v-if="isShowReview" :reviews="tempReview" @close="closeReviews"/>
  </div>
</template>

<script>
import { mapMutations } from "vuex";

export default {
  data() {
    return {
      page_ready: false,
      city: null,
      cities: [],
      destinations: [],
      isCreatePlan: false,
      categories: [],
      filterCat: "-1",
      sortBy: "name",
        isShowReview: false,
        tempReview: [],
    };
  },
  methods: {
    ...mapMutations({
      vResetPlan: "plan/resetPlan",
      vAddDestination: "plan/addDestination",
      vRemoveDestination: "plan/removeDestination"
    }),
    fetchDestinations($id) {
      axios.get("/api/cities/" + $id + "/destinations").then(response => {
        if (this.$store.state.plan.destinations.length > 0) {
          for (let i = 0; i < response.data.length; i++) {
            let temp = response.data[i];
            temp.selected =
              _.filter(this.$store.state.plan.destinations, ["id", temp.id])
                .length > 0;
            this.destinations.push(temp);
          }
        } else this.destinations = response.data;
        this.page_ready = true;
      });
    },
    fetchCities() {
      axios.get("/api/cities").then(response => {
        this.cities = response.data;
        this.page_ready = true;
      });
    },
    onSelectCity($item) {
      this.city = $item;
      this.fetchDestinations($item.id);
    },
    changeCity() {
      if (this.$store.state.plan.name) {
        this.$swal
          .fire({
            title: "Change City",
            type: "warning",
            text: "changing city will reset your plan",
            showCancelButton: true
          })
          .then(result => {
            if (result.value) {
              this.vResetPlan();
              if (this.cities.length === 0) this.fetchCities();
              this.city = null;
            }
          });
      } else {
        if (this.cities.length === 0) this.fetchCities();
        this.city = null;
      }
    },
    showCreatePlanModal() {
      this.isCreatePlan = true;
    },
    closeCreatePlanModal() {
      this.isCreatePlan = false;
    },
    showReviews($item){
        this.tempReview = $item;
        this.isShowReview = true;
    },
      closeReviews(){
          this.isShowReview = false;
      },
    addDestination($item, idx) {
      this.vAddDestination($item);
      this.destinations[this.destinations.indexOf($item)].selected = true;
      this.$toast.fire({
          type: 'success',
          text: $item.name+' added to plan'
      })
    },
    removeDestination($item, idx) {
      this.vRemoveDestination($item);
      this.destinations[this.destinations.indexOf($item)].selected = false;
        this.$toast.fire({
            type: 'success',
            text: $item.name+' removed from plan'
        })
    },
    addRecomendation($item) {
      for (const $i of $item) {
        this.vAddDestination($i);
      }
      this.$router.push("/my-plan");
    },
    fetchCategories() {
      axios.get("/api/categories").then(response => {
        this.categories = response.data;
      });
    }
  },
  computed: {
    filtered() {
      if (Number(this.filterCat) === -1) return this.destinations;
      return this.destinations.filter(item => {
        return (
          item.categories.findIndex(cat => {
            return cat.id === Number(this.filterCat);
          }) !== -1
        );
      });
    },
    sorted() {
      return _.orderBy(this.filtered, this.sortBy);
    }
  },
  created() {
    if (this.$store.state.plan.city.name) {
      this.city = this.$store.state.plan.city;
      this.fetchDestinations(this.city.id);
    } else {
      this.fetchCities();
    }
    this.fetchCategories();
  }
};
</script>

<style scoped>
</style>
