<template>
  <section>
    <h2 class="mt-4 text-center">My Plan History</h2>
    <hr />
    <div class="row justify-content-center">
      <div class="col-9">
        <div
          @click="$router.push('/history/' + item.id)"
          :to="'/history/' + item.id"
          v-for="(item,key) in plans"
          v-bind:key="key"
          class="row float-container py-2 my-4"
          style="cursor: pointer;"
        >
          <div class="col-12">
            <h2>{{item.name}}</h2>
            <hr />
          </div>
          <div class="col-4">City: {{item.city.name}}</div>

          <div class="col-4">{{item.destinations_count}} Destinations</div>

          <div class="col-4">Created At: {{item.created_at}}</div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      plans: []
    };
  },
  methods: {
    fetchData() {
      axios
        .get("/api/my-plan")
        .then(response => {
          this.plans = response.data;
        })
        .catch(error => {
          console.log(error);
        });
    }
  },
  created() {
    this.fetchData();
  }
};
</script>

<style scoped>
</style>
