<template>
  <section>
    <h2 class="mt-4 text-center">Plan History:</h2>
    <hr />
    <gmap-map ref="map" :center="center" :zoom="15" style="width: 100%; height: 300px">
      <gmap-info-window
        :key="index"
        v-for="(m, index) in markers"
        :position="m.position"
        :options="{
                    pixelOffset: {
                    width: 0,
                    height: -35
                    }
                }"
      >{{m.title}}</gmap-info-window>
      <gmap-marker
        :key="index+'s'"
        v-for="(m, index) in markers"
        :position="m.position"
        :clickable="true"
        @click="center=m.position"
      ></gmap-marker>
    </gmap-map>

    <div class="row justify-content-center">
      <div class="col-9">
        <div
          :key="index"
          v-for="(item,index) in plan.destinations"
          class="row float-container py-2 my-4"
        >
          <div class="col-3">
            <img :src="item.photo" :alt="item.name" class="img-fluid" />
          </div>
          <div class="col-9">
            <div class="col-12">
              <h3>{{item.name}}</h3>
            </div>
            <div class="col-12">
              <p>{{item.open}} - {{item.close}}</p>
            </div>
            <div class="col-12">
              <p>{{item.description}}</p>
            </div>
            <div v-if="item.reviews.length > 0">
              <div class="inset-container col-11">
                <h4 style="text-decoration: underline;">Review</h4>
                <p>{{item.reviews[0].content}}</p>
              </div>
            </div>
            <a
              v-else
              class="btn btn-block btn-outline-info"
              @click="writeReview(item.id)"
            >Write Review</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      plan: [],
      dataId: this.$route.params.id,
      center: {
        lat: -6.1753924,
        lng: 106.82715280000002
      },
      markers: []
    };
  },
  methods: {
    fetchData() {
      axios
        .get("/api/my-plan/" + this.dataId)
        .then(response => {
          this.plan = response.data;
            this.getDirection();
          for (const item of this.plan.destinations) {
            this.markers.push({
              position: {
                lat: item.lat,
                lng: item.lng
              },
              title: item.name
            });
          }
          this.markers.push({
            position: {
              lat: this.plan.lat,
              lng: this.plan.lng
            },
            title: "Starting Point"
          });
        })
        .catch(error => {
          this.$swal.fire({
            type: "error",
            title: "Error" + error.response.status + ": failed to fetch data!",
            text: error.response.data.message
          });
        });
    },
    writeReview($destId) {
      this.$swal
        .fire({
          title: "Enter your review",
          input: "textarea",
          inputPlaceholder: "Type your message here...",
          inputAttributes: {
            "aria-label": "Type your message here"
          },
          showCancelButton: true,
          inputValidator: value => {
            if (!value) {
              return "You need to write something!";
            }
          }
        })
        .then(result => {
          if (result.value) {
            let data = {
              content: result.value,
              plan_id: this.dataId,
              destination_id: $destId
            };

            this.$swal.queue([
              {
                title: "Saving..",
                confirmButtonText: "Back",
                allowOutsideClick: false,
                onBeforeOpen: () => {
                  axios
                    .post("/api/reviews", data)
                    .then(response => {
                      if (response.status !== 200)
                        throw new Error(response.status.text);
                      this.$swal.hideLoading();
                      this.$swal.clickConfirm();
                      this.$swal.insertQueueStep({
                        type: "success",
                        title: "Data Saved Success!",
                        confirmButtonText: "Confirm",
                        onAfterClose: () => {
                          this.$router.go();
                        }
                      });
                    })
                    .catch(error => {
                      this.$swal.showValidationMessage(
                        "Fail to save data: " + error
                      );
                      this.$swal.hideLoading();
                    });
                }
              }
            ]);
          }
        });
    },
    getDirection: function() {
      var directionsService = new google.maps.DirectionsService();
      var directionsDisplay = new google.maps.DirectionsRenderer({
        suppressMarkers: true
      });
      this.$refs.map.$mapPromise.then(map => {
        directionsDisplay.setMap(map);
      });

      let planWaypoints = [];
      for (const item of this.plan.destinations) {
        planWaypoints.push({
          location: {
            placeId: item.gmap_place_id
          },
          stopover: true
        });
      }
      this.calculateAndDisplayRoute(
        directionsService,
        directionsDisplay,
        {
          lat: this.plan.lat,
          lng: this.plan.lng
        },
        planWaypoints
      );
    },
    calculateAndDisplayRoute(
      directionsService,
      directionsDisplay,
      start,
      destinations
    ) {
      directionsService.route(
        {
          origin: start,
          destination: start,
          waypoints: destinations,
          travelMode: "DRIVING"
        },
        (response, status) => {
          if (status === "OK") {
            directionsDisplay.setDirections(response);
          } else {
            window.alert("Directions request failed due to " + status);
          }
        }
      );
    }
  },
  created() {
    this.fetchData();
  }
};
</script>

<style scoped>
</style>
