<template>
  <section id="home">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            class="d-block w-100"
            src="/media/image/hero_bg_1.jpg"
            alt="First slide"
            height="700"
            style="object-fit: fit;"
          />
          <div class="carousel-caption d-none d-md-block">
            <h1>NEVER STOP EXPLORING</h1>
            <p>
              ”What you’ve done becomes the judge of what you’re going to do — especially in other people’s minds. When you’re traveling, you are what you are right there and then.
              People don’t have your past to hold against you. No yesterdays on the road.” -William Least Heat Moon
            </p>
            <a
              v-if="!$store.state.account.isLogged"
              href="/register"
              class="btn btn-danger rounded px-5 text-white"
            >Join Us!</a>
            <a v-else href="/destination" class="btn btn-danger rounded px-5 text-white">Book Now!</a>
          </div>
        </div>
        <div class="carousel-item">
          <img
            class="d-block w-100"
            src="/media/image/hero_bg_2.jpg"
            alt="Second slide"
            height="700"
            style="object-fit: fit;"
          />
          <div class="carousel-caption d-none d-md-block">
            <h1>Love The Places</h1>
            <p>“Travel is the only thing you buy that makes you richer”</p>
            <a
              v-if="!$store.state.account.isLogged"
              href="/register"
              class="btn btn-danger rounded px-5 text-white"
            >Join Us!</a>
            <a v-else href="/destination" class="btn btn-danger rounded px-5 text-white">Book Now!</a>
          </div>
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#carouselExampleIndicators"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carouselExampleIndicators"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="container">
      <div class="site-section">
        <div class="container">
          <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center">
              <hr />
              <h2 class="font-weight-light text-black">Our Destination</h2>
              <p class="color-black-opacity-5">Choose Your Next Destination</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
              <a data-target="#desc-city-Jakarta" data-toggle="modal" class="unit-1 text-center">
                <img src="media/image/home/Jakarta.jpg" alt="Image" class="img-fluid" />
                <div class="unit-1-text">
                  <h3 class="unit-1-heading" style="color:white;">Jakarta, Indonesia</h3>
                </div>
              </a>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
              <a data-target="#desc-city-Bandung" data-toggle="modal" class="unit-1 text-center">
                <img src="media/image/home/Bandung.jpg" alt="Image" class="img-fluid" />
                <div class="unit-1-text">
                  <h3 class="unit-1-heading" style="color:white;">Bandung, Indonesia</h3>
                </div>
              </a>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
              <a data-target="#desc-city-Padang" data-toggle="modal" class="unit-1 text-center">
                <img src="media/image/home/Padang.jpg" alt="Image" class="img-fluid" />
                <div class="unit-1-text">
                  <h3 class="unit-1-heading" style="color:white;">Padang, Indonesia</h3>
                </div>
              </a>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
              <a data-target="#desc-city-Bali" data-toggle="modal" class="unit-1 text-center">
                <img src="media/image/home/Bali.jpg" alt="Image" class="img-fluid" />
                <div class="unit-1-text">
                  <h3 class="unit-1-heading" style="color:white;">Bali, Indonesia</h3>
                </div>
              </a>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
              <a data-target="#desc-city-Yogya" data-toggle="modal" class="unit-1 text-center">
                <img src="media/image/home/Yogyakarta.jpg" alt="Image" class="img-fluid" />
                <div class="unit-1-text">
                  <h3 class="unit-1-heading" style="color:white;">Yogyakarta, Indonesia</h3>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "Home"
};
</script>

<style scoped>
.unit-1-text {
  z-index: 2;
  position: absolute;
  bottom: 10px;
  color: #fff;
  display: block;
  width: 100%;
}
.unit-1-heading {
  font-size: 1.2rem;
  position: relative;
}
</style>
