<template>
  <div>
    <div v-if="$store.state.plan.destinations.length > 0">
      <gmap-map
        v-show="showMap"
        ref="map"
        :center="center"
        :zoom="15"
        style="width: 100%; height: 300px"
      ></gmap-map>
      <!--<button @click="getDirection">get direction</button>-->
      <div class="row justify-content-center">
        <div class="col-9">
          <div v-for="item in $store.state.plan.destinations" class="row float-container py-2 my-4">
            <div class="col-3">
              <img :src="item.photo" :alt="item.name" class="img-fluid" />
            </div>
            <div class="col-9">
              <div class="row">
                <div class="col-12">
                  <h5>{{item.name}}</h5>
                </div>
                <div class="col-12">
                  <p>{{item.description}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-else>
      Add destinations to your plan on
      <router-link to="/destination" href="/destination">Destination page</router-link>
    </div>
    <button
      class="btn btn-primary"
      v-if="$store.state.plan.destinations.length"
      @click="savePlan"
      style="
                    position: fixed;
                    bottom: 50px;
                    right: 50px;
                    width: 200px;
                    height: 70px;
                "
    >Save My Plan</button>
    <button
      class="btn btn-secondary"
      v-if="$store.state.plan.destinations.length"
      @click="$router.push('/destination')"
      style="
                    position: fixed;
                    bottom: 50px;
                    left: 50px;
                    width: 200px;
                    height: 70px;
                "
    >Edit Destinations</button>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      showMap: true,
      center: this.$store.state.plan.origin,
      DirectionsService: null,
      DirectionsRenderer: null
    };
  },
  methods: {
    getDirection: function() {
      var directionsService = this.DirectionsService;
      var directionsDisplay = this.DirectionsRenderer;
      this.$refs.map.$mapPromise.then(map => {
        directionsDisplay.setMap(map);
      });

      let planWaypoints = [];
      for (const item of this.$store.state.plan.destinations) {
        planWaypoints.push({
          location: {
            placeId: item.gmap_place_id
          },
          stopover: true
        });
      }
      this.calculateAndDisplayRoute(
        directionsService,
        directionsDisplay,
        this.$store.state.plan.origin,
        planWaypoints
      );
    },
    calculateAndDisplayRoute(
      directionsService,
      directionsDisplay,
      start,
      destinations
    ) {
      directionsService.route(
        {
          origin: start,
          destination: start,
          waypoints: destinations,
          optimizeWaypoints: true,
          travelMode: "DRIVING"
        },
        (response, status) => {
          if (status === "OK") {
            directionsDisplay.setDirections(response);
          } else {
            window.alert("Directions request failed due to " + status);
          }
        }
      );
    },
    sortPlanDestinations($data) {
      this.$store.commit("plan/orderDestination", $data);
    },
    savePlan() {
      let data = {
        name: this.$store.state.plan.name,
        city_id: this.$store.state.plan.city.id,
        origin: this.$store.state.plan.origin,
        destinations: _.map(this.$store.state.plan.destinations, "id")
      };
      axios
        .post("/api/my-plan", data)
        .then(response => {
          console.log(response.data);
          this.$store.commit("plan/resetPlan");
        })
        .catch(error => {
          console.log(error);
        });
    }
  },
  created() {},
  mounted() {
    if (this.$store.state.plan.destinations.length > 0) {
      this.DirectionsService = new google.maps.DirectionsService();
      this.DirectionsRenderer = new google.maps.DirectionsRenderer();
      this.getDirection();
    }
  }
};
</script>

<style scoped>
</style>
