<template>
  <section id="city">
    <div class="h2 mt-4 ml-4">City - Detail</div>
    <div class="float-container m-4 p-4">
      <div>
        <a class="btn btn-outline-secondary" @click="$router.go(-1)">Back</a>
      </div>
      <hr />
      <div class="row">
        <div class="col-6">
          <img :src="fPhoto" alt="img" width="100%" />
        </div>
        <div class="col-6">
          <h2>{{fName}}</h2>
          <p>{{fDescription}}</p>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      fName: "",
      fPhoto: "",
      fGmap: "",
      fDescription: "",
      dataId: this.$route.params.id
    };
  },
  methods: {
    fetchData() {
      axios
        .get("/api/admin/cities/" + this.dataId)
        .then(response => {
          this.fName = response.data.name;
          this.fPhoto = response.data.photo;
          this.fGmap = response.data.gmap_place_id;
          this.fDescription = response.data.description;
        })
        .catch(error => {
          this.$swal.fire({
            type: "error",
            title: "Error" + error.response.status + ": failed to fetch data!",
            text: error.response.data.message
          });
        });
    }
  },
  created() {
    this.fetchData();
  }
};
</script>

<style scoped>
</style>
