<template>
  <section id="city">
    <div class="h2 mt-4 ml-4">City</div>
    <div class="float-container m-4 p-4">
      <div class="d-flex mb-4">
        <router-link
          class="btn btn-primary"
          to="/admin/cities/create"
          href="/admin/cities/create"
          role="button"
        >Create New</router-link>
      </div>
      <dynamic-table :tableData="tableData"></dynamic-table>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      tableData: {
        header: [
          {
            content: "Name",
            sortable: true
          },
          {
            content: "Gmap ID",
            sortable: true
          },
          {
            content: "Created At",
            sortable: true
          },
          {
            content: "Updated At",
            sortable: true
          },
          {
            content: "Action",
            sortable: false
          }
        ],
        items: []
      }
    };
  },
  methods: {
    fetchData() {
      axios
        .get("/api/admin/cities")
        .then(response => {
          this.parseData(response.data);
        })
        .catch(error => {
          this.$swal.fire({
            type: "error",
            title: "Error " + error.response.status + ": failed to fetch data!",
            text: error.response.data.message
          });
        });
    },
    parseData($data) {
      let $parsedData = [];
      for (const $item of $data) {
        let $row = [];
        $row.push({
          text: $item.name
        });
        $row.push({
          html: $item.gmap_place_id
        });
        $row.push({
          text: $item.created_at
        });
        $row.push({
          text: $item.updated_at
        });
        $row.push({
          component: {
            template:
              '<div class="btn-group"><router-link class="btn btn-outline-primary " to="/admin/cities/' +
              $item.id +
              '">View</router-link>' +
              '<router-link class="btn btn-info " to="/admin/cities/' +
              $item.id +
              '/edit">Edit</router-link></div>'
          }
        });
        $parsedData.push($row);
      }
      this.$set(this.tableData, "items", $parsedData);
    }
  },
  created() {
    this.fetchData();
  }
};
</script>

<style scoped>
</style>
