<template>
  <section id="destination">
    <div class="h2 mt-4 ml-4">Destination - Detail</div>
    <div class="float-container m-4 p-4">
      <div>
        <a class="btn btn-outline-secondary" @click="$router.go(-1)">Back</a>
      </div>
      <hr />
      <div class="row">
        <div class="col-6">
          <img :src="fPhoto" alt="img" class="img-fluid" />
        </div>
        <div class="col-6">
          <h2>{{fName}}</h2>
          <div>{{fOpen}} - {{fClose}}</div>
          <br />
          <p>{{fDescription}}</p>
          <br />
          <div
            class="badge badge-success mx-1 p-2"
            v-for="category in fCategories"
            v-bind:key="category.id"
          >{{category.name}}</div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      fName: "",
      fPhoto: "",
      fGmap: "",
      fOpen: "",
      fClose: "",
      fCategories: "",
      fDescription: "",
      dataId: this.$route.params.id
    };
  },
  methods: {
    fetchData() {
      axios
        .get("/api/admin/destinations/" + this.dataId)
        .then(response => {
          this.fName = response.data.name;
          this.fPhoto = response.data.photo;
          this.fGmap = response.data.gmap_place_id;
          this.fOpen = response.data.open;
          this.fClose = response.data.close;
          this.fDescription = response.data.description;
          this.fCategories = response.data.categories;
        })
        .catch(error => {
          this.$swal.fire({
            type: "error",
            title: "Error" + error.response.status + ": failed to fetch data!",
            text: error.response.data.message
          });
        });
    }
  },
  created() {
    this.fetchData();
  }
};
</script>

<style scoped>
</style>
