<template>
    <section id="Example">
        <div class="h2 mt-4 ml-4">Header</div>
        <div class="float-container m-4 p-4">
            <div class="p-4">
                Content
            </div>
            <dynamic-table :tableData="tableData"></dynamic-table>
        </div>
    </section>
</template>

<script>
    export default {
        data() {
            return {
                tableData: {
                    header: [
                        {
                            content: 'ID',
                            sortable: true,
                        },
                        {
                            content: 'Name',
                            sortable: true,
                        },
                        {
                            content: 'Username',
                            sortable: true,
                        },
                        {
                            content: 'Email',
                            sortable: true,
                        },
                        {
                            content: 'Phone',
                            sortable: true,
                        },
                    ],
                    items: [
                        [
                            {text: "1"},
                            {text: "John Doe"},
                            {text: "johndoe"},
                            {text: "john@domain.com"},
                            {text: "08123123123"},
                        ]

                    ]
                },
            }
        }
    }
</script>

<style scoped>

</style>