<template>
  <section id="User">
    <div></div>
    <div class="h2 mt-4 ml-4">{{isTrash?'Inactive':'Active'}} - User Accounts</div>
    <div class="float-container m-4 p-4">
      <div class="d-flex mb-4 justify-content-between">
        <router-link
          class="btn btn-primary"
          to="/admin/users/create"
          href="/admin/users/create"
          role="button"
        >Create New</router-link>
        <a
          class="btn"
          v-bind:class="[{'btn-outline-danger': !isTrash}, 'btn-outline-success']"
          @click="onTrash"
        >{{isTrash?'Active Users':'Inactive Users'}}</a>
      </div>
      <dynamic-table :tableData="isTrash ? tableTrash : tableData"></dynamic-table>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      isTrash: false,
      tableData: {
        header: [
          {
            content: "Name",
            sortable: true
          },
          {
            content: "Email",
            sortable: true
          },
          {
            content: "Is Admin",
            sortable: true
          },
          {
            content: "Created At",
            sortable: true
          },
          {
            content: "Updated At",
            sortable: true
          },
          {
            content: "Action",
            sortable: false
          }
        ],
        items: []
      },
      tableTrash: {
        header: [
          {
            content: "Name",
            sortable: true
          },
          {
            content: "Email",
            sortable: true
          },
          {
            content: "Is Admin",
            sortable: true
          },
          {
            content: "Deleted At",
            sortable: true
          },
          {
            content: "Action",
            sortable: false
          }
        ],
        items: []
      }
    };
  },
  methods: {
    fetchData() {
      !this.isTrash
        ? axios
            .get("/api/admin/users")
            .then(response => {
              this.parseData(response.data);
            })
            .catch(error => {
              this.$swal.fire({
                type: "error",
                title:
                  "Error" + error.response.status + ": Failed to fetch data!",
                text: error.response.data.message
              });
            })
        : axios
            .get("/api/admin/users/trash")
            .then(response => {
              this.parseData(response.data);
            })
            .catch(error => {
              this.$swal.fire({
                type: "error",
                title:
                  "Error" + error.response.status + ": Failed to fetch data!",
                text: error.response.data.message
              });
            });
    },
    // fetchTrash() {
    //   axios
    //     .get("/api/admin/users/trash")
    //     .then(response => {
    //       this.parseTrash(response.data);
    //     })
    //     .catch(error => {
    //       this.$swal.fire({
    //         type: "error",
    //         title: "Error" + error.response.status + ": Failed to fetch data!",
    //         text: error.response.data.message
    //       });
    //     });
    // },
    parseData($data) {
      let $parseData = [];
      for (const $item of $data) {
        let url = this.isTrash
          ? '<div><router-link class="btn btn-info " to="/admin/users/' +
            $item.id +
            '/edit?trash=true">Edit</router-link></div>'
          : '<div><router-link class="btn btn-info " to="/admin/users/' +
            $item.id +
            '/edit">Edit</router-link></div>';

        let $row = [];
        $row.push({
          text: $item.name
        });
        $row.push({
          text: $item.email
        });
        $row.push({
          text: String($item.is_admin)
        });
        if (this.isTrash) {
          $row.push({
            text: $item.deleted_at
          });
        } else {
          $row.push({
            text: $item.created_at
          });
          $row.push({
            text: $item.updated_at
          });
        }

        $row.push({
          component: {
            template: url
          }
        });
        $parseData.push($row);
      }
      this.isTrash
        ? this.$set(this.tableTrash, "items", $parseData)
        : this.$set(this.tableData, "items", $parseData);
    },

    onTrash() {
      this.isTrash ? (this.isTrash = false) : (this.isTrash = true);

      this.fetchData();
    }
  },
  created() {
    this.fetchData();
  }
};
</script>

<style scoped>
</style>
