<template>
  <section id="city">
    <div class="h2 mt-4 ml-4">City - {{isEdit?'Edit':'Create'}}</div>
    <div class="float-container m-4 p-4">
      <div class="d-flex mb-4">
        <a class="btn btn-outline-secondary" @click="$router.go(-1)">Back</a>
      </div>
      <hr />
      <form action="#" v-on:submit.prevent="onSubmit">
        <div class="row justify-content-between">
          <div class="col-4">
            <google-map
              v-if="marker || !isEdit"
              :marker="marker"
              :isEdit="isEdit"
              @setPlaceId="setPlaceId"
            ></google-map>

            <div class="form-group">
              <label for="fcName">Name</label>
              <input type="text" class="form-control" id="fcName" v-model="fName" required disabled />
            </div>

            <div class="form-group">
              <label for="fcGmap">Gmap ID</label>
              <input type="text" class="form-control" id="fcGmap" v-model="fGmap" required disabled />
            </div>
            <div class="form-group">
              <label for="fcLat">Latitude</label>
              <input type="text" class="form-control" id="fcLat" v-model="fLat" required disabled />
            </div>
            <div class="form-group">
              <label for="fcLng">Longitude</label>
              <input type="text" class="form-control" id="fcLng" v-model="fLng" required disabled />
            </div>
          </div>

          <div class="col-4">
            <div class="form-group">
              <label for="fcPhoto">Photo</label>
              <img :src="photo" class="img-fluid d-block" />
              <input
                type="file"
                class="form-control-file border"
                id="fcPhoto"
                v-on:change="onFileChange($event)"
                :required="!isEdit"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-8">
            <div class="form-group">
              <label for="fcDescription">Description</label>
              <textarea
                v-model="fDescription"
                class="form-control"
                id="fcDescription"
                cols="30"
                rows="10"
                required
              ></textarea>
            </div>
          </div>
        </div>

        <div class="d-flex mb-4">
          <input type="submit" class="btn btn-primary" />
        </div>
      </form>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    isEdit: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      fName: "",
      fGmap: "",
      fLat: "",
      fLng: "",
      photo: "",
      fPhoto: "",
      fDescription: "",
      dataId: this.$route.params.id,
      marker: null
    };
  },
  methods: {
    onFileChange(e) {
      let files = e.target.files || e.dataTransfer.files;
      if (!files.length) {
        console.log("no file found!");
        return;
      }
      let imageFile = files[0];
      if (!imageFile.type.match("image.*")) {
        e.target.value = "";
        alert("Please select image file");
        return;
      }
      if (imageFile.size > 2000000) {
        e.target.value = "";
        alert("Please select image under 2MB");
        return;
      }
      this.fPhoto = imageFile;
      let reader = new FileReader();
      reader.onload = e => {
        this.photo = e.target.result;
      };
      reader.readAsDataURL(imageFile);
    },
    setPlaceId(name, place_id, lat, lng) {
      this.fName = name;
      this.fGmap = place_id;
      this.fLat = lat;
      this.fLng = lng;
    },
    onSubmit() {
      let data = {
        name: this.fName,
        gmap_place_id: this.fGmap,
        description: this.fDescription,
        lat: this.fLat,
        lng: this.fLng
      };
      if (this.fPhoto) data.photo = this.photo;

      this.$swal.queue([
        {
          title: "Saving..",
          confirmButtonText: "Back",
          allowOutsideClick: false,
          onBeforeOpen: () => {
            axios
              .post(
                this.isEdit
                  ? "/api/admin/cities/" + this.dataId
                  : "/api/admin/cities",
                data
              )
              .then(response => {
                if (response.status !== 200)
                  throw new Error(response.status.text);
                this.$swal.hideLoading();
                this.$swal.clickConfirm();
                this.$swal.insertQueueStep({
                  type: "success",
                  title: "Data Saved Success!",
                  confirmButtonText: "Confirm",
                  onAfterClose: () => {
                    this.$router.go(-1);
                  }
                });
              })
              .catch(error => {
                this.$swal.showValidationMessage("Fail to save data: " + error);
                this.$swal.hideLoading();
              });
          }
        }
      ]);
    },
    fetchData() {
      axios
        .get("/api/admin/cities/" + this.dataId)
        .then(response => {
          this.fName = response.data.name;
          this.photo = response.data.photo;
          this.fGmap = response.data.gmap_place_id;
          this.fDescription = response.data.description;
          this.marker = {
            name: response.data.name,
            place_id: response.data.gmap_place_id,
            lat: response.data.lat,
            lng: response.data.lng
          };
        })
        .catch(error => {
          this.$swal.fire({
            type: "error",
            title: "Error" + error.response.status + ": failed to fetch data!",
            text: error.response.data.message
          });
        });
    }
  },
  created() {
    if (this.isEdit) this.fetchData();
  }
};
</script>

<style scoped>
</style>
