<template>
  <section id="recommendation">
    <div class="h2 mt-4 ml-4">Travel Recommendation - {{isEdit?'Edit':'Create'}}</div>
    <div class="float-container m-4 p-4">
      <div class="d-flex mb-4 justify-content-between">
        <a class="btn btn-outline-secondary" @click="$router.go(-1)">Back</a>
        <a class="btn btn-outline-danger" @click="onDelete" v-if="isEdit">Delete</a>
      </div>
      <hr />
      <form action="#" v-on:submit.prevent="onSubmit">
        <div class="row justify-content-between">
          <div class="col-4">
            <div class="form-group">
              <label for="fcName">Name</label>
              <input type="text" class="form-control" id="fcName" v-model="fName" required />
            </div>

            <div class="form-group">
              <label for="fcCity">City</label>
              <select name="fcCity" id="fcCity" class="form-control" v-model="fCity">
                <option v-for="city in cities" :value="city.id" v-bind:key="city.id">{{city.name}}</option>
              </select>
            </div>

            <div>
              <label class="typo__label">Destinations</label>
              <multiselect
                v-model="value"
                placeholder="Search destinations"
                label="name"
                track-by="id"
                :options="options"
                :multiple="true"
              ></multiselect>
            </div>
          </div>

          <div class="col-4">
            <div class="form-group">
              <label for="fcPhoto">Photo</label>
              <img :src="photo" class="img-fluid d-block" />
              <input
                type="file"
                class="form-control-file border"
                id="fcPhoto"
                v-on:change="onFileChange($event)"
                :required="!isEdit"
              />
            </div>
          </div>
        </div>

        <div class="mt-4 d-flex mb-4 justify-content-between">
          <input type="submit" class="btn btn-primary" />
        </div>
      </form>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    isEdit: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      fCity: "",
      cities: "",
      fName: "",
      photo: "",
      fPhoto: "",
      options: [],
      value: [],
      dataId: this.$route.params.id
    };
  },
  methods: {
    onFileChange(e) {
      let files = e.target.files || e.dataTransfer.files;
      if (!files.length) {
        console.log("no file found!");
        return;
      }
      let imageFile = files[0];
      if (!imageFile.type.match("image.*")) {
        e.target.value = "";
        alert("Please select image file");
        return;
      }
      if (imageFile.size > 2000000) {
        e.target.value = "";
        alert("Please select image under 2MB");
        return;
      }
      this.fPhoto = imageFile;
      let reader = new FileReader();
      reader.onload = e => {
        this.photo = e.target.result;
      };
      reader.readAsDataURL(imageFile);
    },
    fetchDestination() {
      axios
        .get("/api/admin/destinations")
        .then(response => {
          this.options = response.data;
        })
        .catch(error => {
          this.$swal.fire({
            type: "error",
            title: "Error" + error.response.status + ": failed to fetch data!",
            text: error.response.data.message
          });
        });
    },
    fetchCity() {
      axios
        .get("/api/admin/cities")
        .then(response => {
          this.cities = response.data;
        })
        .catch(error => {
          this.$swal.fire({
            type: "error",
            title: "Error" + error.response.status + ": failed to fetch data!",
            text: error.response.data.message
          });
        });
    },
    fetchData() {
      axios
        .get("/api/admin/recommendations/" + this.dataId)
        .then(response => {
          this.fCity = response.data.city_id;
          this.fName = response.data.name;
          this.photo = response.data.photo;
          this.value = response.data.destinations;
        })
        .catch(error => {
          this.$swal.fire({
            type: "error",
            title: "Error" + error.response.status + ": failed to fetch data!",
            text: error.response.data.message
          });
        });
    },
    onSubmit() {
      let data = {
        name: this.fName,
        city_id: this.fCity,
        destinations: _.map(this.value, "id")
      };
      if (this.fPhoto) data.photo = this.photo;

      this.$swal.queue([
        {
          title: "Saving..",
          confirmButtonText: "Back",
          allowOutsideClick: false,
          onBeforeOpen: () => {
            axios
              .post(
                this.isEdit
                  ? "/api/admin/recommendations/" + this.dataId
                  : "/api/admin/recommendations",
                data
              )
              .then(response => {
                if (response.status !== 200)
                  throw new Error(response.status.text);
                this.$swal.hideLoading();
                this.$swal.clickConfirm();
                this.$swal.insertQueueStep({
                  type: "success",
                  title: "Data Saved Success!",
                  confirmButtonText: "Confirm",
                  onAfterClose: () => {
                    this.$router.go(-1);
                  }
                });
              })
              .catch(error => {
                this.$swal.showValidationMessage("Fail to save data: " + error);
                this.$swal.hideLoading();
              });
          }
        }
      ]);
    },
    onDelete() {
      this.$swal
        .fire({
          title: "Are you sure?",
          text: "You won't be able to revert this!",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes, delete it!",
          showLoaderOnConfirm: true,
          preConfirm: () => {
            return axios
              .delete("/api/admin/recommendations/" + this.dataId)
              .then(response => {
                if (response.status !== 200) {
                  throw new Error(response.statusText);
                }
                return response;
              })
              .catch(error => {
                this.$swal.showValidationMessage(`Request failed: ${error}`);
              });
          },
          allowOutsideClick: () => !this.$swal.isLoading()
        })
        .then(result => {
          if (result.value) {
            this.$swal.fire({
              title: "Deleted!",
              text: "Data has been deleted.",
              type: "success",
              onAfterClose: () => {
                this.$router.go(-1);
              }
            });
          }
        });
    }
  },
  created() {
    this.fetchCity();
    this.fetchDestination();
    if (this.isEdit) this.fetchData();
  }
};
</script>

<style scoped>
</style>
