<template>
  <section id="user">
    <div class="h2 mt-4 ml-4">User - {{isEdit ? 'Edit' : 'Create'}}</div>
    <div class="float-container m-4 p-4">
      <div class="d-flex mb-4 justify-content-between">
        <a class="btn btn-outline-secondary" @click="$router.go(-1)">Back</a>

        <div v-if="isEdit">
          <a class="btn btn-outline-success" @click="onRestore" v-if="isTrash">Restore</a>
          <a class="btn btn-outline-danger" @click="onDelete" v-else>Delete</a>
        </div>
      </div>
      <hr />
      <form action="#" v-on:submit.prevent="onSubmit">
        <div class="row">
          <div class="col-4">
            <div class="form-group">
              <label for="fcEmail">Email</label>
              <input type="email" class="form-control" id="fcEmail" v-model="fEmail" required />
            </div>
            <div class="form-group">
              <label for="fcPassword">Password</label>
              <input type="password" class="form-control" id="fcPassword" v-model="fPassword" />
            </div>
            <div class="form-group">
              <label for="fcPasswordc">Password Confirmation</label>
              <input
                type="password"
                class="form-control"
                id="fcPasswordc"
                v-model="fPasswordc"
                :required="fPassword.length > 0"
              />
            </div>
            <div class="form-group">
              <label for="fcName">Name</label>
              <input type="text" class="form-control" id="fcName" v-model="fName" required />
            </div>
            <div class="form-group">
              <label for="fcIsAdmin">Is Admin</label>
              <select name="fcIsAdmin" id="fcIsAdmin" class="form-control" v-model="fIsAdmin">
                <option value="1">Admin</option>
                <option value="0">User</option>
              </select>
            </div>
          </div>
        </div>
        <div class="d-flex mb-4">
          <input type="submit" class="btn btn-primary" />
        </div>
      </form>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    isEdit: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      fName: "",
      fEmail: "",
      fPassword: "",
      fPasswordc: "",
      fIsAdmin: false,
      dataId: this.$route.params.id,
      isTrash: false
    };
  },
  methods: {
    fetchData() {
      axios
        .get("/api/admin/users/" + this.dataId)
        .then(response => {
          this.fName = response.data.name;
          this.fEmail = response.data.email;
          this.fIsAdmin = response.data.is_admin;
        })
        .catch(error => {
          this.$swal.fire({
            type: "error",
            title: "Error" + error.response.status + ": failed to fetch data!",
            text: error.response.data.message
          });
        });
    },
    onSubmit() {
      let data = {
        name: this.fName,
        email: this.fEmail,
        password: this.fPassword,
        password_confirmation: this.fPasswordc,
        is_admin: String(this.fIsAdmin)
      };
      this.$swal.queue([
        {
          title: "Saving..",
          confirmButtonText: "Back",
          allowOutsideClick: false,
          onBeforeOpen: () => {
            axios
              .post(
                this.isEdit
                  ? "/api/admin/users/" + this.dataId
                  : "/api/admin/users",
                data
              )
              .then(response => {
                if (response.status !== 200)
                  throw new Error(response.status.text);
                this.$swal.hideLoading();
                this.$swal.clickConfirm();
                this.$swal.insertQueueStep({
                  type: "success",
                  title: "Data Saved Success!",
                  confirmButtonText: "Confirm",
                  onAfterClose: () => {
                    this.$router.go(-1);
                  }
                });
              })
              .catch(error => {
                this.$swal.showValidationMessage("Fail to save data: " + error);
                this.$swal.hideLoading();
              });
          }
        }
      ]);
    },
    onDelete() {
      this.$swal
        .fire({
          title: "Are you sure?",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes, delete it!",
          showLoaderOnConfirm: true,
          preConfirm: () => {
            return axios
              .delete("/api/admin/users/" + this.dataId)
              .then(response => {
                if (response.status !== 200) {
                  throw new Error(response.statusText);
                }
                return response;
              })
              .catch(error => {
                this.$swal.showValidationMessage(`Request failed: ${error}`);
              });
          },
          allowOutsideClick: () => !this.$swal.isLoading()
        })
        .then(result => {
          if (result.value) {
            this.$swal.fire({
              title: "Deleted!",
              text: "Data has been deleted.",
              type: "success",
              onAfterClose: () => {
                this.$router.go(-1);
              }
            });
          }
        });
    },
    onRestore() {
      this.$swal
        .fire({
          title: "Are you sure?",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes, Restore it!",
          showLoaderOnConfirm: true,
          preConfirm: () => {
            return axios
              .get("/api/admin/users/" + this.dataId + "/restore")
              .then(response => {
                if (response.status !== 200) {
                  throw new Error(response.statusText);
                }
                return response;
              })
              .catch(error => {
                this.$swal.showValidationMessage(`Request failed: ${error}`);
              });
          },
          allowOutsideClick: () => !this.$swal.isLoading()
        })
        .then(result => {
          if (result.value) {
            this.$swal.fire({
              title: "Restored!",
              text: "Data has been restored.",
              type: "success",
              onAfterClose: () => {
                this.$router.go(-1);
              }
            });
          }
        });
    }
  },
  mounted() {
    if (!_.isEmpty(this.$route.query)) {
      this.isTrash = this.$route.query.trash;
    }
  },
  created() {
    if (this.isEdit) this.fetchData();
  }
};
</script>

<style scoped>
</style>
